<footer class="footer_style_2">
  <div class="container-fuild">
    <div class="row">
      <div class="footer_blog">
        <div class="row">
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Síguenos</h2>
            </div>
            <p>Síguenos para estar al tanto de todo lo que pasa con PREDES.</p>
            <ul class="social_icons">
              <li class="social-icon fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Otros links</h2>
            </div>
            <ul class="footer-menu">
              <li><a href="it_about.html"><i class="fa fa-angle-right"></i> Inicio</a></li>
              <li><a href="it_term_condition.html"><i class="fa fa-angle-right"></i> Registro</a></li>
              <li><a href="it_privacy_policy.html"><i class="fa fa-angle-right"></i> Acerca de</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cprt" style="text-align: left">
        <p>Predes © Copyright 2021</p>
      </div>
    </div>
  </div>
</footer>